body {
    background-color: #101728;
}

h1 {
    font-family: sans-serif;
    color: #FFFFFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-icon {
    display: flex;
}

.login {
    background-color: blue;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 12px;
}

.cadastro {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 8px 12px;;
    margin: auto;
}

.separator {
    border-top: 1px solid #ffffff;
    width: 95%;
    margin:  auto;
}

.text {
    color: white;
    font-family: Arial Black, Arial, sans-serif;
    position: absolute;
    top: 36%;
    left: 4%;
    font-size: 3em;
    line-height: 1;
}